RewriteEngine on
RewriteBase /

RewriteRule ^(mini|debug|logout)/?$ ./?$1=1 

RewriteRule (css|js|projects)/(.+) $1/$2

#/api/app-name/tb-name-without-prefix/data
RewriteRule ^api/([a-z_]+)/([a-z_]+)/(.+) ./controller.php?obj=api_ctrl&method=run&app=$1&tb=$2&$3

# app:tb:id =?=> app=app&tb=tb&id=id
#RewriteRule ^([a-z_]+):([a-z_]+):([0-9]+)/?$ ./?app=$1&tb=$1__$2&id=$3 
#RewriteRule ^([a-z_]+):([a-z_]+):([0-9]+)/controller(.+)$ ./controller$4

php_value upload_max_filesize 16M
php_value post_max_size 16M
