RewriteEngine on

# /api/app-name/tb-name-without-prefix/data
RewriteRule ^api/([a-z0-9_]+) index.php?obj=api&method=run&app=$1 [QSA,L]

# Missing JS files throw 404 error
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^.*\.js$ - [L,R=404]

# Missing file with app in request redirects to index with app parameter
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ([a-z0-9_]+)/ index.php?app=$1 [QSA,L]

# Missing file without app in request
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule . index.php [L]
