{% if vocs|length == 0 %}
	<h2 class="text-error">{{ tr.get('no_voc_available') }}</h2>
	
{% else %}
	<p><button class="btn btn-primary add_voc"><i class="glyphicon glyphicon-plus"></i> {{ tr.get('new_voc') }}</button></p>
	
	<h4>{{ tr.get('available_vocs') }}</h4>
	
	<ul class="list-group" style="width:300px;">
	
	{% for voc, voc_arr in vocs %}
	
		<li class="list-unstyled">
			<a class="voc list-group-item" href="javascript:void(0)">{{ voc }}</a>
			<ul class="sortable list-unstyled voc_definition" style="display:none;" data-voc="{{ voc }}">
				{% for id,def in voc_arr %}
					<li data-id="{{ id }}" data-text="{{ def }}">
						<i class="glyphicon glyphicon-move" title="{{ tr.get('drag_to_sort') }}" style="cursor:move"></i>
						<span class="def">{{ def }}</span>
						<span class="badge pull-right">
							<i class="glyphicon glyphicon-pencil edit_def" title="{{ tr.get('edit') }}" style="cursor:pointer"></i>
						</span>
						<span class="badge pull-right">
							<i class="glyphicon glyphicon-trash delete_def" title="{{ tr.get('erase') }}" style="cursor:pointer"></i>
						</span>
					</li>
				{% endfor %}
					<li style="padding: 5px;"><button class="btn btn-default btn-sm add_voc" data-voc="{{ voc }}"><i class="glyphicon glyphicon-plus"></i></button></li>
			</ul>
		</li>
		
	{% endfor %}
	</ul>
	
	<script>
		
		$.each($('ul.sortable'), function(i, el){
			var ulSort = $(el).sortable({
				nested: false,
				handle: 'i.glyphicon-move',
				onDrop: function(item, container, _super){
					var string = ulSort.sortable('serialize').get();
					var new_string = {};
					new_string[$(el).data('voc')] = string;
					

					$.post('controller.php?obj=vocabularies_ctrl&method=sort', new_string, function(data){
						core.message(data.text, data.status);
					}, 'json');
					
					_super(item, container);
				},
				serialize: function (parent, children, isContainer) {
					return isContainer ? children : parent.data('id');
				},
			});
		});

		
		
		$('a.voc').on('click', function(){
			$(this).parents('li').find('a').toggleClass('active');
			$(this).next('ul').toggle();
		});
		
		$('.edit_def').on('click', function(){
			var li = $(this).parents('li:eq(0)');
			vocabularies.edit(li.data('id'), li.data('text'), function(val){
				li.data('text', val);
				li.find('.def').text(val);
			});
		});
		$('.delete_def').on('click', function(){
			var li = $(this).parents('li:eq(0)');
			vocabularies.erase(li.data('id'), function(){
				if (li.siblings().length === 1 ){
					li. parent('ul').parent('li').remove();
				} else {
					li.remove();
				}
			})
		});
	</script>
	
{% endif  %}

	<script>
	$('.add_voc').on('click', function(){
		vocabularies.add_new($(this).data('voc'), function(){
			layout.tabs.reloadActive();
		});
	});
	</script>
