{#
 * @author			Julian Bogdani <jbogdani@gmail.com>
 * @copyright		BraDypUS, Julian Bogdani <jbogdani@gmail.com>
 * @license			See file LICENSE distributed with this code
 #}

<div class="row">

	<div class="col-sm-6 col-sm-offset-3">

		<div class="form-group">

			<label>{{ tr.get('voc') }}</label><br>

			{% if voc %}
				<input type="text" readonly="true" value="{{ voc }}" id="voc" class="form-control">
			{% else %}
			<select id="voc" class="form-control"  style="width:100%;" data-tags="true">
				{% for voc in all_vocs %}
					<option>{{ voc }}</option>
				{% endfor %}
			</select>
			{% endif %}
		</div>

		<div class="form-group">
			<label>{{ tr.get('def') }}</label>
			<input type="text" id="def" class="form-control">
		</div>
	</div>

</div>

{% if voc %}
<script>
	enhance.combobox($('select#voc'));
</script>
{% endif %}